@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    
    --card: 0 0% 100%;
    --card-foreground: 0 0% 100%;
    
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    
    --primary: 315 100% 50%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 240 50% 45%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 0 0% 64%;
    --muted-foreground: 0 0% 100%;
    
    --accent: 315 100% 50%;
    --accent-foreground: 0 0% 100%;
    
    --destructive: 0 100% 61%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 315 100% 50%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-white/10;
  }
  
  body {
    @apply bg-background text-foreground;
  }
}